.web-site-style {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}
.logo-style {
    text-decoration: none;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 18 px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;   
}
.logo-sufix {
    color: #2e2f42;
}
