 body {
       font-family: "Roboto", serif;
       color: #434455;
       background-color: #FFFFFF;
      }

 .logo {
               
               text-decoration-style: none;
               font-family: Raleway, sans-serif;
               font-size: 18 pix;
               font-weight: 700;
               color: #4d5ae5;
               line-height: 1,17;
               letter-spacing: 0,03rem;
               text-transform: uppercase;
              }  
.sufix-logo {

             color: #2e2f42;

            }

/* 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked */

 .nav:link {
               
               text-decoration-style: none;
               font-family: Raleway, sans-serif;
               font-size: 16 pix;
               font-weight: 500;
               color: #2e2f42;
               line-height: 1,5;
               letter-spacing: 0,02rem;
               text-transform: capitalize;
               
              }  
.nav:hover {
               color: #404bbf;
              }  
.nav:visited {
               color: #404bbf;
              }  
