 .font {
       font-family: "Roboto", serif;
       color: #434455;
       background-color: #FFFFFF;
      }
 .logo {
               font-family: Raleway, sans-serif;
               font-weight: 700;
               font-size: 18px;
               line-height: 1.17;
               letter-spacing: 0.03rem;
               text-transform: uppercase;
               color: #4d5ae5;
              }  
.sufix-logo {
             color: #2e2f42;
            }
/* 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked */
 .nav {
               font-family: Raleway, sans-serif;
               font-size: 16 px;
               font-weight: 500;
               color: #2e2f42;
               line-height: 1.5;
               letter-spacing: 0.02 rem;
               text-transform: capitalize;
              }  
.nav:hover {
               color: #404bbf;
              }  
.nav:visited {
               color: #404bbf;
              }  
.nav:active {
               color: #404bbf;
              }  
.address-norm{
               font-style: normal
              }
/* FIRST SECTION */
.first-section-style{
    background-color: #2e2f42;
}
.first-section-heding-style{
    font-size: 18 px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02 rem;
    color: #ffffff
}
.order-button{
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16 px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.04 rem;
}

/* FOOTER STYLES */
.footer-style{
              background-color: #2e2f42;
            }
.footer-logo-style {
               font-family: Raleway, sans-serif;
               font-weight: 700;
               font-size: 18 px;
               color: #4d5ae5;
               line-height: 1.17;
               letter-spacing: 0.03 rem;
               text-transform: uppercase;
              }             
.footer-sufix-logo-style{
              color: #f4f4fd;
            }
.footer-paragraf-style{
                     line-height: 1.5;
                     color: #F4F4FD;
                     letter-spacing: 0.02 rem;
            }
